.dashboard-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 100px;
  .test-container {
    width: 100%;
    justify-content: center;
    display: grid;

    .test-list {
      max-width: 780px;
      width: 100%;
      margin-top: 20px;
      background-color: #12b735;
      padding: 10px;
      font-weight: bold;
      display: flex;

      .left-text {
        padding: 10px;
        h4 {
          color: #fff;
        }
      }
      .right-text {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 20px;
        .btn-start,
        .btn-expand,
        .btn-close {
          display: flex;
          width: 200px;
          height: 50px;
          border-radius: 3px;
          border: none;
          background-color: #fff;
          color: #000;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px;
          font-size: 15px;
          cursor: pointer;

          .btn-start:hover {
            background-color: #000;
          }

          .start-arrow,
          .expand-arrow,
          .close-arrow {
            justify-content: space-between;
            padding-left: 10px;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .test-list {
      flex-direction: column;
      padding: 10px;

      .right-text {
        margin-top: 10px;
        padding: 10px;

        .btn-start,
        .btn-expand {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .test-list {
      padding: 5px;

      .left-text {
        padding: 5px;
        h4 {
          font-size: 16px;
        }
      }

      .right-text {
        padding: 5px;

        .btn-start,
        .btn-expand {
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }
}
