.container {
  background-color: #000;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .title {
    color: #fff;
    margin-left: 20px;
    font-size: 30px;
  }
  .user-icon {
    margin-right: 20px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
  }
}
