@font-face {
  font-family: 'ComicNeue'; 
  src: url('./assets/fonts/ComicNeue-Regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'ComicNeue', sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
